.shop-section{
    /* background-color: antiquewhite; */
    color: black;
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100vh;
}

.product-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;

}

.cart-container{
    background-color: rgb(242, 198, 78);
    padding: 10px;
    margin-right: 20px;
    text-align: center;

}